/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--cor-principal);
    background-color: var(--cor-secundaria);
    color: var(--azul-escuro);
}