<div class="container">

    <div class="container-face">

        <div class="face">

            <div class="slogan">
                <h1>Solidez em cada detalhe, confiança em cada obra.</h1>
            </div>

            <a>
                <button routerLink="/contato" class="btn-contato">
                    Entre em contato
                </button>
            </a>

        </div>

        <div class="img">
            <img src="/assets/img/homepage/house.png" alt="Ilustração-casa">
        </div>

    </div>

    <div class="container-historia">
        <h2>Fundada em 1999...</h2>
        <p> Nossa missão</p>
        <hr>

        <div class="historia-img">
            <img src="" alt="">
        </div>
    </div>

    <div class="container-projeto">

        <div class="galeria-foto">
            <img src="/assets/img/homepage/2.jpg" alt="foto-projeto">
        </div>

        <div class="galeria-text">
            <h3>
                Acabamento Impecável? É com a RR CONSTRUÇÕES.
                Profissionalismo e dedicação em cada etapa da sua obra. Do planejamento à entrega, seu projeto nas
                melhores mãos.
                De uma olhada em outros projetos!
            </h3>
        </div>

        <a>
            <button routerLink="/projetos" class="btn-projetos">
                Outros Projetos &gt;
            </button>
        </a>

    </div>

</div>