/* configurações gerais */
* {
    padding: 0;
    margin: 0;
}

.container1 {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Configurações da ilustração, btn etc*/
.container-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background-color: var(--azul-claro);
}

.text {
    flex: 1;
    flex-direction: column;
    padding: 4rem;
}

.slogan {
    color: var(--azul-escuro);
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.4rem;
}

.btn-contato {
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
    color: var(--cor-secundaria);
    background-color: var(--azul-escuro);
    border-radius: 2rem;
    transition: 400ms;

    &:hover {
        box-shadow: 0 9px 19px 0 #0000001a, 0 35px 35px 0 #00000017, 0 80px 48px 0 #0000000d, 0 142px 57px 0 #00000003, 0 221px 62px 0 #00000000;
        background-color: var(--cinza-claro);
        border: 1px solid var(--azul-escuro);
        color: var(--azul-escuro);

        transition: 300ms;
    }
}

.img {
    flex: 1;
}

/* Inicio da seção do meio da página */
.container2 {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    gap: 9rem;
    position: relative;
    padding-bottom: 10rem;
}

/* Configurações da prévia da história */
.container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.historia-img img {
    flex: 1;
    border-radius: 1rem;
    height: 24rem;
}

.container-historia {
    flex: 1;
    flex-direction: column;
}

.title-historia {
    color: var(--azul-escuro);
    font-weight: 700;
    font-size: 3.7rem;
    line-height: 3.3rem;
    padding-bottom: .6rem;
}

.description-historia {
    padding-top: .6rem;
    padding-bottom: 1rem;
    color: var(--cinza-escuro);
}

.btn-sobre {
    border: 1px solid;
    border-radius: .5rem;
    border-color: var(--cinza-escuro);
    padding: .3rem;
    color: var(--cinza-escuro);
    transition: 400ms;

    &:hover {
        box-shadow: 0 9px 19px 0 #0000001a, 0 35px 35px 0 #00000017, 0 80px 48px 0 #0000000d, 0 142px 57px 0 #00000003, 0 221px 62px 0 #00000000;
        background-color: var(--cinza-claro);
        border: 1px solid var(--azul-escuro);
        color: var(--azul-escuro);

        transition: 300ms;
    }
}

/* Configurações da prévia da galeria de imagens */
.container3 {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-projeto {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 3rem;
    background-color: var(--azul-claro);
}

.galeria-foto img {
    margin: 0 auto;
    width: 65%;
    height: auto;
    border-radius: 1rem;
}

.galeria-text {
    position: absolute;
    z-index: 10;
    bottom: 47%;
    right: 8%;

    padding: 1.5rem;
    width: 26rem;
    height: 11rem;
    border-radius: 1rem;
    background-color: var(--azul-escuro);
    opacity: 0.82;
}

.galeria-text h3 {
    color: var(--cor-secundaria);
    font-size: 1.1rem;
}

.btn-projetos {
    position: absolute;
    z-index: 10;
    bottom: 40%;
    right: 30.8%;

    color: var(--azul-escuro);
    font-weight: 500;
    border: 1.98px solid var(--azul-escuro);
    border-radius: 1rem;
    background-color: var(--cinza-claro);
    opacity: 0.6;
    padding: .5rem;
    transition: 400ms;

    &:hover {
        box-shadow: 0 9px 19px 0 #0000001a, 0 35px 35px 0 #00000017, 0 80px 48px 0 #0000000d, 0 142px 57px 0 #00000003, 0 221px 62px 0 #00000000;
        background-color: var(--cor-principal);
        border: 1px solid var(--azul-escuro);
        color: var(--azul-escuro);
        opacity: 0.8;

        transition: 300ms;
    }

    cursor: pointer;
}

.container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;

    padding-bottom: 4rem;
    background-color: var(--cor-secundaria);
}

.container-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem;
    gap: 3rem;
}

.titles {
    padding: 1rem;
    color: var(--azul-escuro);
    font-size: 3rem;
    font-weight: 700;

    p {
        color: var(--cinza-escuro);
        font-size: 1.3rem;
        font-weight: 400;
    }
}

.container-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.card-item {
    width: 17rem;
    height: 17rem;
    padding: 1.25rem;
    color: var(--azul-escuro);
    border: 1px solid var(--azul-claro);
    border-radius: 1rem;
    background-color: var(--azul-claro);
    transition: 400ms;

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    p {
        font-size: 1rem;
        font-weight: 300;
        color: var(--cinza-escuro);
    }

    &:hover {
        box-shadow: 0 9px 19px 0 #0000001a, 0 35px 35px 0 #00000017, 0 80px 48px 0 #0000000d, 0 142px 57px 0 #00000003, 0 221px 62px 0 #00000000;
        background-color: var(--cor-principal);
        border: 1px solid var(--azul-claro);
        color: var(--azul-escuro);

        transition: 300ms;

        p {
            color: var(--azul-escuro);
        }
    }

    .icon svg {
        width: 3rem;
        height: 3rem;
        padding-bottom: 1.5rem;
    }
}

.container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 2rem;
    padding-bottom: 4rem;
}

.container-feedback1 {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    width: 100%;
    padding: 3rem;
    gap: 3rem;
}

.container-feedback2 {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    width: 100%;
    padding: 3rem;
    gap: 3rem;
}

.card-feedback {
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
    padding: 2rem;
    width: 35rem;
    height: 15rem;
}

.perfil-img {
    width: 4rem;
}