/* configurações gerais */
* {
    padding: 0;
    margin: 0;
}

.container1 {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    gap: 9rem;
    position: relative;
}

/* Configurações da ilustração, btn etc*/
.container-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.text {
    flex: 1;
    flex-direction: column;
}

.slogan {
    color: var(--azul-escuro);
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.4rem;
}

.btn-contato {
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
    color: var(--cor-secundaria);
    background-color: var(--azul-escuro);
    border-radius: 2rem;
    transition: 400ms;

    &:hover {
        box-shadow: 0 9px 19px 0 #0000001a, 0 35px 35px 0 #00000017, 0 80px 48px 0 #0000000d, 0 142px 57px 0 #00000003, 0 221px 62px 0 #00000000;
        border-radius: 2rem;
        transition: 300ms;
        background-color: var(--cinza-claro);
        border: 1px solid var(--azul-escuro);
        color: var(--azul-escuro);
    }
}

.img {
    flex: 1;
}

/* Configurações da prévia da história */
.container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.historia-img {
    flex: 4;
}

.container-historia {
    flex: 6;
    flex-direction: column;
}

.title-historia {
    color: var(--azul-escuro);
    font-weight: 700;
    font-size: 3.7rem;
    line-height: 3.3rem;
    padding-bottom: .6rem;
}

.description-historia {
    padding-top: .6rem;
    padding-bottom: 1rem;
    color: var(--cinza-escuro);
}

.btn-sobre {
    border: 1px solid;
    border-color: var(--cinza-escuro);
    border-radius: .3rem;
    padding: .3rem;
    color: var(--cinza-escuro);
}