<div class="container">

    <div class="container-face">

        <div class="face">

            <div class="slogan">
                <h1>Solidez em cada detalhe, confiança em cada obra.</h1>
            </div>

            <a>
                <button routerLink="/contato" class="btn-contato">
                    Entre em contato
                </button>
            </a>

        </div>

        <div class="img">
            <img src="/assets/img/homepage/house.png" alt="Ilustração-casa">
        </div>

    </div>

    <div class="container-historia">

        <section class="title-historia">
            <h2>Fundada em 1999...</h2>
            <p> Nossa missão</p>
            <hr>
        </section>

        <div class="historia-img">
            <img src="" alt="">
        </div>

        <section class="description-historia">
            <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour, or randomised words which don't look even slightly
                believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
            </p>

            <p>
                embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat
                predefined chunks as necessary, making this the first true generator on the Internet. It uses a
                dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate
                Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition,
                injected humour, or non-characteristic words etc.
            </p>
        </section>
    
        <a>
            <button routerLink="/sobre" class="btn-sobre">
                Ler mais &gt;
            </button>
        </a>

    </div>

    <div class="container-projeto">

        <div class="galeria-foto">
            <img src="/assets/img/homepage/2.jpg" alt="foto-projeto">
        </div>

        <div class="galeria-text">
            <h3>
                Acabamento Impecável? É com a RR CONSTRUÇÕES.
                Profissionalismo e dedicação em cada etapa da sua obra. Do planejamento à entrega, seu projeto nas
                melhores mãos.
                De uma olhada em outros projetos!
            </h3>
        </div>

        <a>
            <button routerLink="/projetos" class="btn-projetos">
                Outros Projetos &gt;
            </button>
        </a>

    </div>
    
    

</div>