<header class="main-header">
    <div class="logo-icon">
        <img src="../../../assets/img/logo/logo.png" alt="Logo">
    </div>

    <div class="header-nav-section"></div>
    <div class="main-nav-links">
        <a class="nav-link" href="#">Serviços</a>
        <a class="nav-link" href="#">Projetos</a>
        <a class="nav-link" href="#">Sobre nós</a>
        <a class="nav-link" href="#">Contato</a>
    </div>

    <button class="quote-button">
        <span class="truncate">Solicitar Orçamento</span>
    </button>
</header>