<header class="main-header">
    <div class="logo-icon">
        <img src="" alt="Logo">
    </div>
    <div class="company-title">
        <a routerLink="/">RR CONSTRUÇÕES</a>
    </div>

    <div class="header-nav-section"></div>
    <div class="main-nav-links">
        <a class="nav-link" href="#">Serviços</a>
        <a routerLink="/projetos" class="nav-link" href="#">Projetos</a>
        <a routerLink="/sobre" class="nav-link">Sobre</a>
        <a routerLink="/contato" class="nav-link">Contato</a>
    </div>

    <hr>

    <button class="quote-button">
        <span class="truncate">Solicitar Orçamento</span>
    </button>
</header>
