/* Estilos do Cabeçalho (Header) */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    border-bottom: 1px solid var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    padding: 12px 40px;

}

/* Container da logo e título */
.logo-and-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Estilos da seção da logo no cabeçalho */
.logo-icon {
    display: flex;
    align-items: center;
}

.logo-icon img {
    height: 32px;
    width: auto;
    object-fit: contain;
}

/* Estilos do título da empresa no cabeçalho */
.company-title {
    color: var(--azul-escuro);
    font-feature-settings: 'dlig' on;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    /* 127.778% */
}

/* Estilos da seção de navegação no cabeçalho */
.header-nav-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
}

/* Estilos dos links de navegação */
.main-nav-links {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 36px;
}

/* Estilos de cada link individual */
.nav-link {
    color: var(--azul-escuro);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    transition: 300ms;
}

.nav-link:hover {
    color: var(--cinza-claro);
}

/* Estilos do botão "Solicitar Orçamento" */
.quote-button {
    display: flex;
    height: 40px;
    min-width: 100px;
    max-width: 600px;
    margin-left: 32px;
    padding: 0 16px;
    gap: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--azul-escuro);
    color: var(--cor-principal);
    transition: 300ms;

    cursor: pointer;
}

.quote-button:hover {
    background-color: var(--cinza-claro);
    color: var(--azul-escuro);
    border: 1px solid var(--azul-escuro);
}
