* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 2rem;
    padding-bottom: 5rem;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem;
    color: var(--cinza-escuro);
    font-size: 1rem;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        color: var(--azul-escuro);
    }
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: .3rem;
    gap: 2rem;
    justify-content: center;
    
}

.card-item {
    width: 15rem;
    height: 15rem;
    padding: 1.25rem;

    border: 1px solid var(--azul-claro);
    border-radius: 1rem;
    background-color: var(--azul-claro);
    
    color: var(--cinza-escuro);
    transition: 300ms;

    cursor: pointer;

    &:hover {
        box-shadow: 0 9px 19px 0 #0000001a, 0 35px 35px 0 #00000017, 0 80px 48px 0 #0000000d, 0 142px 57px 0 #00000003, 0 221px 62px 0 #00000000;
        background-color: var(--cor-principal);
        color: var(--cinza-escuro);
        text-decoration: underline;
        transition: 300ms;
    }

    h2 {
        padding-bottom: 1rem;
        padding-top: 1rem;
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--azul-escuro);
    }

    .icon svg {
        width: 1.3rem;
        color: var(--azul-escuro)
    }
}

// Scroll Reveal
.scroll-hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: none;
}

.scroll-show {
    opacity: 1;
    transform: translateY(0);
    transition:
        opacity 0.8s ease-out,
        transform 0.8s ease-out;
}