* {
    margin: 0;
    padding: 0;
}

/* texto, parte de cima */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding: 1rem;
}

.text {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 12px;
    align-self: stretch;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    padding: 16px;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

}