/* You can add global styles to this file, and also import other style files */
:root {
  // cores principais:
  --cor-principal: #eef2fc;
  --cor-secundaria: #e7ebf8;

  // cores widgets:
  --azul-negro: #2e3349;
  --azul-escuro: #193958;
  --azul-claro: #c6d0da;

  // cores do footer e header:
  --cinza-claro: #ececec;
  --cinza-escuro: #9f9f9f;


  background-color: var(--cor-principal);
}

* {
  margin: 0;
  padding: 0;
  /* Garante que o texto seja legível em navegadores modernos */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.josefin-sans {
  //corpo
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


// display flex

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}


// estilos para P

.title {
  color: var(--azul-escuro);
  font-feature-settings: 'dlig' on;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.text-azul-claro {
  color: var(--azul-claro);
}

html {
  scroll-behavior: smooth;
}