/* You can add global styles to this file, and also import other style files */
:root {
// cores principais:
--cor-principal: #DDE6ED; 
--cinza-claro: #7D8491;
--azul-negro: #1A1D29;

// cores widgets:
--azul-escuro: #112E4A;
--azul-claro: #6386AC;

// cores do footer:
--cor-secundária: #acbbc7;

background-color: var(--cor-principal);
}

* {
    margin: 0;
    padding: 0;
    /* Garante que o texto seja legível em navegadores modernos */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

//fontes padrão:
.josefin-sans { //titulos
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.josefin-sans { //corpo
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

