<div class="container-main">

    <div class="main-titles">
        <h1>Casa Moderna</h1>
        <p class="description">Rua das flores, 123, Cidade - SP</p>

        <div class="gallery-grid">
            <div class="gallery-item-large">
                <img alt="Vista principal da casa reformada" class="gallery-img"
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuC0Iuhg3UbedbtJ7syutaf6el-eJKsSVoX4YdmN9lCgXPBcuRnV12uQ44rg2h_NsCxQUB8eAcRVbocKKBo72v9dWtXQf_adnfVYzLxWdcPpIBU4BqPKOG1Tb1TSmSw4u7zfHc8Q1vWiKu75JCISIJBj8PTI1izsA3q35-GhYsE05qHf4tWB647b0mW4F7msljNRhy7FsndEuiQiDcihTWmVv3uEldLfoma_-a70QsKk01Z6e1l6Mda1UPTgoAYaVNBne_i8A7pZSnUs" />
            </div>
            <img alt="Interior da sala de estar" class="gallery-img"
                src="https://lh3.googleusercontent.com/aida-public/AB6AXuDKLFV1hvPbVSmkOnCifekz5Xi8voxCLY1kSHTHBuPxrIOk-mwfsO7AKsnsHw5a1FwUOdotcvxMSOkUMhKmfDR2ao50HWZGdw5yb02c1Sex8tv771qVKaZUqB-Z_ecZ_rBA9xKmhVsc7vAiY9abUE8p96eOcpG9TN0slk9FytkCZBPCMhlGMH9YtqFTxEQ7zkZ6qfHL5lnMbOJEmB0qgMPnNW9VfeE_jQ46nyN9a2xFZw-yRepbFT5LMELZH6EYe-SSQOo50Fhm7QRP" />
            <img alt="Cozinha moderna" class="gallery-img"
                src="https://lh3.googleusercontent.com/aida-public/AB6AXuCpTq7jI6562SKubYMVhkwGsSOhiiHAXaAdYMEC9Owl16DJSNWzyFvRQY7iMFzRIh49C5mBVwEdBvwAkgxGlkLIxSH2KBcaQNzv4JKBLKfY-GEI0Ne9wYmOlcpoPVnE9f-x6vxuscDUIxSuoob31Bi423Br8_LkSgblnLgQ6LslEnsJcsqJrCShTl0NArVkQNb4Y5aghdAohA8vns1yxh3owGhoXVzTPkdG_ewJ3eivaMVA9YlZTmBM4WESSgcLkYas5fS4LJDLjsmU" />
            <img alt="Banheiro reformado" class="gallery-img"
                src="https://lh3.googleusercontent.com/aida-public/AB6AXuDCxdQgYYWkaW4nv0NtdQq4B8otwqT25yIdxTPjc9Khv79n7hoQ3Z9jPriNzpLBawSvjXmVZzivdf0GRPqOo4cWW3bSm_TvaT9t7BCWKTBZVxstdKb3RjOfpEyzzF9_iS3fdfEdad0GoU3YIngyO6Nw-z3zL7pQ0HdPzFEPcJgmd_hLlaJ4PThkUr_G7fpZ_rROYVbjSkBbJejopOX1gmoRi_3EceQFyKaQMdJMFyWtL8mUrYUdzBjWfpaqwfgFQc8IswswG7ahM5wp" />
            <img alt="Detalhe da decoração" class="gallery-img"
                src="https://lh3.googleusercontent.com/aida-public/AB6AXuATmmSJUsSAwWKGm-LMuwg2WPYuS2DIUpiFcHVgN7Qbo1-rX68qa4MOizftGnj-4WBUqE1T-6GUjxPZN-8xCr2s8x3mVB8QFGpPbLbrs2LCVdfUUuvjSPydF7KUV4uhb-gQnNQFcA8696_OAmw7MPi7Ums1MJkADBho9a91GHYXVlOrvCb1J-PcPatSJxem7VtfSlSpttOqsS-luWx3uV9hB96XafcBuSeaUSsWrcf3d7-lEq19Yywhc-T4qqqD8j-chrSSQVz-OhQ6" />
        </div>

        <div class="details-section">
            <div class="peoject-info">

                <h2 class="section-title">Sobre a Reforma</h2>
                <p class="project-description">
                    Esta reforma completa transformou uma casa antiga em um lar moderno e elegante. O projeto incluiu a
                    renovação da fachada, a modernização dos interiores, a instalação de novos sistemas elétricos e
                    hidráulicos, e a criação de um novo paisagismo. O resultado é uma casa com design contemporâneo,
                    espaços amplos e acabamentos de alta qualidade.
                </p>
                <h2 class="section-title">Detalhes do Projeto</h2>

            </div>
        </div>
    </div>

</div>