<div class="container-main">

    <div class="main-titles">
        <div>
            <h1>{{ projeto.titulo  }}</h1>
            <p class="description">Rua das flores, 123, Cidade - SP</p>
        </div>


        <div class="gallery-container">
            <div class="gallery-img-large flex-1">
                <img alt="Vista principal da casa reformada" class="gallery-img"
                    [src]="projeto.imagem" />
            </div>

            <div class="gallery-img-small flex-1">
                <img alt="Interior da sala de estar" class="gallery-img img-small" [src]="projeto.imagem" />
                <img alt="Cozinha moderna" class="gallery-img img-small" [src]="projeto.imagem" />
                <img alt="Banheiro reformado" class="gallery-img img-small" [src]="projeto.imagem" />
                <img alt="Detalhe da decoração" class="gallery-img img-small" [src]="projeto.imagem" />
            </div>
        </div>


        <div class="details-section">
            <div class="peoject-info">

                <h2 class="section-title">Sobre a Reforma</h2>
                <p class="project-description">
                    Esta reforma completa transformou uma casa antiga em um lar moderno e elegante. O projeto incluiu a
                    renovação da fachada, a modernização dos interiores, a instalação de novos sistemas elétricos e
                    hidráulicos, e a criação de um novo paisagismo. O resultado é uma casa com design contemporâneo,
                    espaços amplos e acabamentos de alta qualidade.
                </p>
                <h2 class="section-title">Detalhes do Projeto</h2>

                <div class="project-specs">
                    <div class="spec-item">
                        <span class="spec-label">Tipo de Imóvel</span>
                        <span class="spec-value">Casa</span>
                    </div>
                    <hr>
                    <div class="spec-item">
                        <span class="spec-label">Localização</span>
                        <span class="spec-value">Bairro Nobre, Cidade</span>
                    </div>
                    <hr>
                    <div class="spec-item">
                        <span class="spec-label">Duração da Reforma</span>
                        <span class="spec-value">6 meses</span>
                    </div>
                    <hr>
                    <div class="spec-item no-border">
                        <span class="spec-label">Orçamento</span>
                        <span class="spec-value">Sob Consulta</span>
                    </div>

                    <!-- <form>
                        <div class="form-field-group">
                            <p class="form-label">Nome</p>
                            <input name="nome" placeholder="Seu nome"
                                class="form-input-field" />
                        </div>

                        <div class="form-field-group">
                            <p class="form-label">Mensagem</p>
                            <textarea name="mensagem" placeholder="Sua mensagem"
                                class="form-textarea-field"></textarea>
                        </div>

                        <div class="form-submit-button-group">
                            <button class="quote-button">
                                <span class="truncate">Enviar</span>
                            </button>
                        </div>
                    </form> -->

                </div>
            </div>
        </div>
    </div>
</div>