
.card {
  width: 18rem;
  min-height: 23rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  transition: 500ms;

  &:hover {
    box-shadow: 0 9px 19px 0 #0000001a, 0 35px 35px 0 #00000017, 0 80px 48px 0 #0000000d, 0 142px 57px 0 #00000003, 0 221px 62px 0 #00000000;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    transition: 250ms;
    background-color: var(--cor-principal);

    .section-imagem {
      border-radius: 12px;
    }
  }
}

.section-imagem {
  width: 100%;
  height: 13rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.card-title {
  color: var(--azul-escuro);
  font-weight: 900;
  font-size: 1.25rem
}

.card-text {
  color: var(--cinza-escuro);
  font-weight: 500;
}
