<div class="container">

  <div class="title-section">
    <p>sobre nós</p>
  </div>

  <div class="container-main">

    <div class="container-slogan">

      <div class="slogan">
        <h1>Seu projeto, nossa força!</h1>
      </div>

      <div class="description-slogan">
        <p>Empresas incríveis começam com pessoas incríveis.
          Estamos criando um grupo diversificado de pessoas inteligentes e apaixonadas pelo que fazem que se sentem à
          vontade em ser como são,
          e que são motivadas pelo nosso objetivo em comum
          – melhorar a vida das pessoas por meio do melhor transporte do mundo.</p>
      </div>

      <a>
        <button routerLink="/servicos" class="btn-explore">
          Explore nossos serviços
        </button>
      </a>

    </div>

    <div class="container-img">

      <div class="img-slogan">
        <img src="/assets/img/sobre/aboutus-house.png" alt="Imagem ilustrativa de uma casa">
      </div>

    </div>

  </div>

</div>