* {
    margin: 0;
    padding: 0;
}
/* configurações da primeira parte da tela*/
.container-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    box-sizing: inherit;
    width: 75%;
    margin: 0 auto;
    padding: 5rem 0;
}

.container-main {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.container-slogan {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    color: var(--azul-escuro);
}

.container-img {
    flex: 3;
}

.title-section {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;

}

.slogan {
    font-size: 80px;
    line-height: 92px;
    font-weight: 600;
    font-style: inherit;
}

.description-slogan {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--azul-claro);
}

.btn-explore {
    font-size: 14px;
    font-weight: 700;
    color: var(--cor-principal);
    padding: 1rem;
    border-radius: 3rem;
    background-color: var(--azul-escuro);
    transition: 500ms;

    cursor: pointer;
}

.btn-explore:hover {
    background-color: var(--cinza-claro);
    color: var(--azul-claro);
    border: 1px solid var(--azul-claro);
}

/* configurações da segunda parte(texto, sumário, etc..) */
.container-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    padding: 5rem 0;
}
 /* "sumariozinho" */
.divisory {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    border: 1px solid;
    border-color: var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    padding: 1rem;
}

.btn-divisory {
    padding: .5rem;
    color: var(--azul-claro);
    transition: 300ms;

    &:hover {
        color: var(--cinza-claro);
        text-decoration: underline;
    }
}

.text-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.4rem 10rem;
    font-size: 1rem;
    line-height: 30px;
    color: var(--cinza-escuro);


    p {
        font-size: 1rem;
        line-height: 20px;
    }
}

.title-h2 {
    font-size: 20px;
    color: var(--azul-escuro);
    font-weight: bold;
    padding-bottom: .3rem;
}
