<div class="container-1">

  <div class="title-section">
    <p>sobre nós</p>
  </div>

  <div class="container-main">

    <div class="container-slogan">

      <div class="slogan">
        <h1>Seu projeto, nossa força!</h1>
      </div>

      <div class="description-slogan">
        <p>Empresas incríveis começam com pessoas incríveis.
          Estamos criando um grupo diversificado de pessoas inteligentes e apaixonadas pelo que fazem que se sentem à
          vontade em ser como são,
          e que são motivadas pelo nosso objetivo em comum
          – melhorar a vida das pessoas por meio do melhor transporte do mundo.</p>
      </div>

      <a>
        <button routerLink="/servicos" class="btn-explore">
          Nossos serviços
        </button>
      </a>

    </div>

    <div class="container-img">

      <div class="img-slogan">
        <img src="/assets/img/sobre/aboutus-house.png" alt="Imagem ilustrativa de uma casa">
      </div>

    </div>

  </div>

</div>

<div class="container-2">

  <div class="divisory">
    <button class="btn-divisory"><a [routerLink]="[]" fragment="historia">Nossa História</a></button>
    <button class="btn-divisory"><a [routerLink]="[]" fragment="missao">Nossa Missão</a></button>
    <button class="btn-divisory"><a [routerLink]="[]" fragment="visao">Nossa Visão</a></button>
    <button class="btn-divisory"><a [routerLink]="[]" fragment="valores">Nossos Valores</a></button>
  </div>


  <div class="text-section">

    <div class="text-historia" id="historia">
      <h2 class="title-h2">Nossa História</h2>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
        going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
        comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
        Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
        The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original
        form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
    </div>

    <div class="text-missao" id="missao">
      <h2 class="title-h2">Nossa Missão</h2>
      <p>
        Executar projetos de construção civil com o mais rigoroso padrão de qualidade, segurança e responsabilidade
        social. Nosso propósito é entregar empreendimentos que não apenas atendam, mas superem as expectativas de nossos
        clientes, contribuindo ativamente para o desenvolvimento sustentável do ambiente urbano e a elevação da
        qualidade de vida da comunidade.
      </p>
    </div>

    <div class="text-visao" id="visao">
      <h2 class="title-h2">Nossa Visão</h2>
      <p>
        Alcançar e manter o reconhecimento de mercado como a principal referência do setor da construção civil. Nossa
        visão é ser sinônimo de excelência operacional, capacidade de inovação e a integração de práticas de
        sustentabilidade em cada empreendimento. Buscamos a expansão contínua e estratégica de nossa atuação, garantindo
        que todo o crescimento seja fundamentado em princípios éticos inegociáveis e no compromisso com a geração de
        valor de longo prazo para nossos clientes.
      </p>
    </div>

    <div class="text-valores" id="valores">
      <h2 class="title-h2">Nossos Valores</h2>
      <p>Na base das nossas operações está o <strong>Compromisso e Rigor</strong>, que nos exige cumprir com exatidão os
        prazos e
        orçamentos estabelecidos, gerenciando as expectativas com total responsabilidade e seriedade.</p>
      <br>
      <p>Busca incessante pela <strong>Excelência Técnica</strong>, asseguramos o mais alto padrão de qualidade em todas
        as etapas da
        execução, com o objetivo de entregar resultados que superem as especificações e as expectativas dos clientes.
      </p>
      <br>
      <p>Impulsionados pela <strong>Inovação Constante</strong>, aplicamos tecnologias de ponta e métodos construtivos
        modernos para
        desenvolver soluções mais eficientes, duradouras e competitivas.</p>
      <br>
      <p>Nossa prioridade máxima é a <strong>Segurança em Primeiro Plano</strong>, garantindo a integridade física de
        colaboradores,
        parceiros e clientes, e o respeito ao meio ambiente, com rigorosos protocolos de Saúde, Segurança e Meio
        Ambiente (SSMA).</p>
      <br>
      <p>Demonstramos <strong>Responsabilidade Ambiental</strong> por meio da adoção de práticas sustentáveis que visam
        a minimização de
        impactos e o uso eficiente de recursos.</p>
      <br>
      <p>A <strong>Ética e Transparência</strong> são inegociáveis, conduzindo todas as nossas operações e relações
        comerciais com máxima
        integridade e respeito inabalável.</p>
      <br>
      <p>Finalmente, através do <strong>Desenvolvimento Humano</strong>, investimos continuamente no bem-estar,
        capacitação e crescimento
        profissional de nossos colaboradores, reconhecendo-os como ativos essenciais para o nosso sucesso.</p>
    </div>

  </div>

</div>