/* Estilos do Conteúdo Principal da Página (área central da página) */
.content-wrapper {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.content-container {
    display: flex;
    max-width: 960px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.coluna-metade {
    flex: 3;
    padding: 30px;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.coluna-metade form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
        margin-bottom: .5rem;
    }
}

.info-mapa-coluna {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* Adiciona um bom espaçamento vertical entre as seções (como entre as Infos e o Mapa) */
    flex: 2;
    align-self: stretch;
}

/* Estilos da descrição da seção de contato */
.contact-description {
    align-self: stretch;
    color: var(--azul-claro);
    font-feature-settings: 'dlig' on;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* Estilos do Formulário */
.form-field-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
    width: 85%;
}



/* Estilos do texto do rótulo (Nome, Email, etc.) */
.form-label {
    color: var(--azul-escuro);
    font-feature-settings: 'dlig' on;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: block;
    align-items: flex-start;
    align-self: stretch;

}

/* Estilos para os campos de entrada de texto (input) */
.form-input-field {
    display: flex;
    height: 3rem;
    width: 100%;
    padding: 16px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background-color: var(--cinza-claro);
    border-color: var(--cor-principal);
}

/* Estilos para a área de inserir texto */
.form-input-field::placeholder {
    color: var(--azul-claro);
}

.form-textarea-field {
    display: flex;
    min-height: 144px;
    min-width: 444px;
    padding: 16px;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background-color: var(--cinza-claro);
    border-color: var(--cor-principal);
}

/* Estilos para a área de inserir texto */
.form-textarea-field::placeholder {
    color: var(--azul-claro);
}


/* Estilos para o botão de envio do formulário */
.form-submit-button-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
}

.quote-button {
    display: flex;
    width: 84px;
    height: 40px;
    min-width: 84px;
    max-width: 480px;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--azul-escuro);
    color: var(--cor-principal);

    &:hover {
        box-shadow: 0 9px 19px 0 #0000001a, 0 35px 35px 0 #00000017, 0 80px 48px 0 #0000000d, 0 142px 57px 0 #00000003, 0 221px 62px 0 #00000000;
        border-radius: 10px;
        transition: 300ms;
        background-color: var(--cinza-claro);
        border: 1px solid var(--azul-escuro);
        color: var(--azul-escuro);
    }


}

.truncate {
    font-feature-settings: 'dlig' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    align-self: center;
    color: var(--cor-principal);
}

/* Estilos da Seção de Informações de Contato */
.info-title {
    color: var(--azul-escuro);
    align-self: stretch;
    font-feature-settings: 'dlig' on;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.info-description {
    display: flex;
    color: var(--azul-claro);
    font-feature-settings: 'dlig' on;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -1rem;
}

.info-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    color: var(--azul-claro);
    font-feature-settings: 'dlig' on;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* Estilos do Mapa Incorporado */
.mapa-container {
    position: relative;
    padding-bottom: 65%;
    height: 0;
    overflow: hidden;
    border-radius: 15px;
    margin: 0;
    transition: 250ms;

    &:hover {
        box-shadow: 0 9px 19px 0 #0000001a, 0 35px 35px 0 #00000017, 0 80px 48px 0 #0000000d, 0 142px 57px 0 #00000003, 0 221px 62px 0 #00000000;
        border-radius: 10px;

    }
}

.mapa-container iframe {
    filter: grayscale(30%) invert(8%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
