<app-cabecalho></app-cabecalho>

<main>
    <div class="content-wrapper"></div>
    <div class="content-container"></div>

    <div class="contact-title-section">
        <p class="contact-title">Entre em contato</p>
    </div>

    <div class="contact-description">
        <p>
            Estamos aqui para ajudar com suas necessidades de construção.
            Entre em contato conosco para discutir seu projeto ou solicitar um orçamento.
        </p>
    </div>

    <div class="form-field-group">
        <label>
            <p class="form-label">Nome</p>
            <input placeholder="Seu nome" class="form-input-field" value="" />
        </label>
    </div>

    <div class="form-field-group">
        <label>
            <p class="form-label">Email</p>
            <input placeholder="Seu email" class="form-input-field" value="" />
        </label>
    </div>

    <div class="form-field-group">
        <label>
            <p class="form-label">Telefone</p>
            <input placeholder="Seu telefone" class="form-input-field" value="" />
        </label>
    </div>

    <div class="form-field-group">
        <label>
            <p class="form-label">Mensagem</p>
            <textarea placeholder="Sua mensagem" class="form-textarea-field"></textarea>
        </label>
    </div>

    <div class="form-submit-button-group">
        <button class="quote-button">
            <span class="truncate">Enviar</span>
        </button>
    </div>

    <div class="divider">
    <h2 class="info-title">Informações de contato</h2>
    </div>
    <div class="info-text">
        <p>Endereço: Taboão da Serra, SP - Brasil</p>
        <p>Telefone: (11) 95292-4797</p>
        <p>Email: contato@constructco.com.br</p>
    </div>
</main>
